<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRENA</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
        </a>
    </div>

    <ul>
        <li>
            <a>ENERGY TRANSITION</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="#">OUTLOOK</a>
                        <a href="#">PLANNING</a>
                        <a href="#">POLICY</a>
                        <a href="#">TECHNOLOGY</a>
                        <a href="#">ECONOMIC IMPACT</a>
                        <a href="#">FINANCE INVESTMENT</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>ABOUT</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'about' %}">ABOUT</a>
                    <a href="#">PARTNERSHIPS</a>
                    <a href="{% url 'membership' %}">MEMBERSHIP</a>
                    <a href="#">PROJECT</a>
                    <a href="#">INNOVATION</a>
                </div>
            </div>
        </li>
        <li>    
            <a>LANGUAGES</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_about' 'uz' %}">UZBEK</a>
                    <a href="{% url 'lan_switch_about' 'en' %}">ENGLISH</a>
                    <a href="{% url 'lan_switch_about' 'tr' %}">TURKCHA</a>
                    <a href="{% url 'lan_switch_about' 'kk' %}">QOZOQCHA</a>
                    <a href="{% url 'lan_switch_about' 'tg' %}">TOJIKCHA</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'news' %}">NEWS</a></li>
        <li><a href="{% url 'education' %}">EDUCATION</a></li>
        <li><a href="{% url 'data' %}">DATA</a></li>
        <li><a href="{% url 'event' %}">EVENTS</a></li>
    </ul>
</header>

<div class="container">
    <h1 style="text-align: center;">About ITM</h1>
    <p>
        The International Renewable Energy Agency (IRENA) is a lead global intergovernmental agency for energy transformation that serves as the principal platform for international cooperation, supports countries in their energy transitions, and provides state of the art data and analyses on technology, innovation, policy, finance and investment. IRENA drives the widespread adoption and sustainable use of all forms of renewable energy, including bioenergy, geothermal, hydropower, ocean, solar and wind energy in the pursuit of sustainable development, energy access, and energy security, for economic and social resilience and prosperity and a climate-proof future.
    </p>
    <p>
        IRENA's membership comprises 169 countries and the EU. Together, they decide on the Agency’s strategic direction and programmatic activities, in line with the global energy discourse and priorities to accelerate the deployment of renewables-based energy transitions worldwide.
    </p>
    <div class="report-section">
        <div class="report-image">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="IRENA Annual Report 2024-2025" />
        </div>
        <div class="report-content">
            <h2>
                Annual report of the Director-General on the implementation of the Work Programme and Budget for 2024-2025
            </h2>
            <p>
                This Annual Report presents an overview of the programmatic activities IRENA has undertaken since January 2023, reaffirming the Agency's position as a centre of excellence, a repository of policy, technology and financial knowledge, and the principal platform for international co-operation on renewable energy.
            </p>
            <a href="">Read more</a>
        </div>
    </div>
</div>

<section class="footer-section">
    <div class="footer">
        <div class="essentials">
            <div>
                <h3>ITM essentials</h3>
                <ul>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="#">Employment</a></li>
                    <li><a href="#">Procurement</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'membership' %}">Membership</a></li>
                    <li><a href="#">Collaborative Frameworks</a></li>
                    <li><a href="#">Partnerships</a></li>
                    <li><a href="#">Country engagement</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'event' %}">Events</a></li>
                    <li><a href="{% url 'data' %}">Data</a></li>
                    <li><a href="{% url 'education' %}">Education</a></li>
                </ul>
            </div>
        </div>

        <div class="social-links">
            <a href="https://www.itm-llc.uz/uz/home/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Google">
            </a>
            <a href="https://www.youtube.com/watch?v=JlDJVOnEM8o" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube">
            </a>
            <a href="https://t.me/ITMRasmiy" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="Telegram">
            </a>
        </div>

        <div class="copyright">
            <p>2025 ITM MCHJ</p>
        </div>
    </div>
</section>

<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>