<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRENA</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/data.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
        </a>
    </div>

    <ul>
        <li>
            <a>ENERGY TRANSITION</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="#">OUTLOOK</a>
                        <a href="#">PLANNING</a>
                        <a href="#">POLICY</a>
                        <a href="#">TECHNOLOGY</a>
                        <a href="#">ECONOMIC IMPACT</a>
                        <a href="#">FINANCE INVESTMENT</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>ABOUT</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'about' %}">ABOUT</a>
                    <a href="{% url 'part' %}">PARTNERSHIPS</a>
                    <a href="{% url 'membership' %}">MEMBERSHIP</a>
                    <a href="{% url 'project' %}">PROJECT</a>
                    <a href="#">INNOVATION</a>
                </div>
            </div>
        </li>
        <li>    
            <a>LANGUAGES</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_data' 'uz' %}">UZBEK</a>
                    <a href="{% url 'lan_switch_data' 'en' %}">ENGLISH</a>
                    <a href="{% url 'lan_switch_data' 'tr' %}">TURKCHA</a>
                    <a href="{% url 'lan_switch_data' 'kk' %}">QOZOQCHA</a>
                    <a href="{% url 'lan_switch_data' 'tg' %}">TOJIKCHA</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'news' %}">NEWS</a></li>
        <li><a href="{% url 'education' %}">EDUCATION</a></li>
        <li><a href="{% url 'data' %}">DATA</a></li>
        <li><a href="{% url 'event' %}">EVENTS</a></li>
    </ul>
</header>

<div class="container">
    <main class="content">
        <p class="paragraph">
        Detailed, accurate and timely data and statistics are essential for the monitoring and evaluation of renewable energy policies and deployment. IRENA helps analysts, policy makers and the public make informed decisions by providing access to comprehensive and up-to-date renewable energy data.
        </p>
        <p class="paragraph">
        ITM publishes detailed statistics on renewable energy capacity, power generation and renewable energy balances. This data is collected directly from members using the IRENA Renewable Energy Statistics questionnaire and is also supplemented by desk research where official statistics are not available. Renewable power-generation capacity statistics are released annually in March. Additionally, renewable power generation and renewable energy balances data sets are released in July.
        </p>
        <p class="paragraph">
        ITM's statistics unit helps members to strengthen their data collection and reporting activities through training and methodological guidance. Member countries are encouraged to participate in this process. Explore IRENA data and statistics by browsing a wide range of topics such as Capacity and Generation, Costs, Finance and more on the menu.
        </p>
    </main>
</div>

<div class="container">
    <section class="featured-section">
        <h2 class="section-title">Featured</h2>
        <hr class="divider"/>

        <div class="featured-card">
            <div class="image-container">
                <img src="{% static 'assets/img/cost.jpg' %}" alt="Renewable Energy Statistics 2025" width="300" height="300" />
            </div>

            <div class="content-wrapper">
                <div class="focus-tag">FOCUS ON</div>
                <h3 class="main-title">Renewable energy statistics 2025</h3>
                <p class="description">
                    This publication presents renewable energy statistics for the last decade (2015-2024).
                </p>

                <div class="availability">
                    <p class="available-text">Available as:</p>
                    <a href="" class="download-link">PDF</a>
                </div>  
            </div>
        </div>
    </section><br>
</div>

<div class="container">
    <section class="related-section">
        <h2 class="section-title">Related publications</h2>
        <div class="nav-controls">
            <a href="#" class="view-more-link">View more</a>
            <button class="nav-btn prev-btn"><</button>
            <button class="nav-btn next-btn">></button>
        </div>
        <div class="publications-grid">
            <div class="publication-card">
                <img src="{% static 'assets/img/panels.png' %}" alt="Renewable Energy Statistics 2025" class="cover-image" />
                <h3 class="pub-title">Renewable energy statistics 2025</h3>
            </div>
            <div class="publication-card">
                <img src="{% static 'assets/img/panels.png' %}" alt="Renewable Capacity Statistics 2025" class="cover-image" />
                <h3 class="pub-title">Renewable capacity statistics 2025</h3>
            </div>
            <div class="publication-card">
                <img src="{% static 'assets/img/cost.jpg' %}" alt="Off-grid Renewable Energy Statistics 2024" class="cover-image" />
                <h3 class="pub-title">Off-grid Renewable Energy Statistics 2024</h3>
            </div>
        </div>
    </section><br>
</div>

<section class="footer-section">
    <div class="footer">
        <div class="essentials">
            <div>
                <h3>ITM essentials</h3>
                <ul>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="#">Employment</a></li>
                    <li><a href="#">Procurement</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'membership' %}">Membership</a></li>
                    <li><a href="#">Collaborative Frameworks</a></li>
                    <li><a href="#">Partnerships</a></li>
                    <li><a href="#">Country engagement</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'event' %}">Events</a></li>
                    <li><a href="{% url 'data' %}">Data</a></li>
                    <li><a href="{% url 'education' %}">Education</a></li>
                </ul>
            </div>
        </div>  

        <div class="social-links">
            <a href="https://www.itm-llc.uz/uz/home/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Google">
            </a>
            <a href="https://www.youtube.com/watch?v=JlDJVOnEM8o" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube">
            </a>
            <a href="https://t.me/ITMRasmiy" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="Telegram">
            </a>
        </div>

        <div class="copyright">
            <p>2025 ITM MCHJ</p>
        </div>
    </div>
</section>

<script src="{% static 'assets/js/data.js' %}"></script>
</body>
</html>