<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRENA</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/policy.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
        </a>
    </div>
    <ul>
        <li>
            <a>ENERGY TRANSITION</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'outlook' %}">OUTLOOK</a>
                        <a href="{% url 'plan' %}">PLANNING</a>
                        <a href="{% url 'policy' %}">POLICY</a>
                        <a href="#">TECHNOLOGY</a>
                        <a href="#">ECONOMIC IMPACT</a>
                        <a href="#">FINANCE INVESTMENT</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>ABOUT</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'about' %}">ABOUT</a>
                    <a href="{% url 'part' %}">PARTNERSHIPS</a>
                    <a href="{% url 'membership' %}">MEMBERSHIP</a>
                    <a href="{% url 'project' %}">PROJECT</a>
                    <a href="{% url 'inno' %}">INNOVATION</a>
                </div>
            </div>
        </li>
        <li>    
            <a>LANGUAGES</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch' 'uz' %}">UZBEK</a>
                    <a href="{% url 'lan_switch' 'en' %}">ENGLISH</a>
                    <a href="{% url 'lan_switch' 'tr' %}">TURKCHA</a>
                    <a href="{% url 'lan_switch' 'kk' %}">QOZOQCHA</a>
                    <a href="{% url 'lan_switch' 'tg' %}">TOJIKCHA</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'news' %}">NEWS</a></li>
        <li><a href="{% url 'education' %}">EDUCATION</a></li>
        <li><a href="{% url 'data' %}">DATA</a></li>
        <li><a href="{% url 'event' %}">EVENTS</a></li>
    </ul>
</header>

<div class="container"><br>
    <p>
      IRENA provides state-of-the-art analysis of enabling policy frameworks, spanning the entire renewable energy development cycle. This includes identifying best practice and trends in policy design and supporting countries in tailoring policies to their specific conditions and objectives.
    </p>

    <div class="cards-container">
        <div class="card">
            <img src="{% static 'assets/img/itm.jpg' %}" alt="Wind turbines">
            <div class="card-content">
                <h3>Regional market analysis</h3>
                <p>
                    These regional studies encompass broad economic and energy sector trends, as well as renewable energy investment, market and policy developments in each region.
                </p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="Solar farm by sea">
            <div class="card-content">
                <h3>National and regional analysis</h3>
                <p>
                National and regional analysis of the current renewables policy landscape identifies barriers to and policy recommendations for an inclusive energy transition.
                </p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/maps.jpg' %}" alt="Wind and solar mix">
                <div class="card-content">
                    <h3>Targets & NDCs</h3>
                    <p>
                        Analysis of the ambition of national renewable energy targets and the renewable energy components of NDCs leads to recommendations on how to design more effective targets and measures.
                    </p>
                </div>
            </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <img src="{% static 'assets/img/out.png' %}" alt="Power grid">
                <div class="card-content">
                    <h3>Power system structures & markets</h3>
                    <p>
                        The world's existing electricity systems were designed mainly for conventional, centralised power generation. These studies guide policy for modernising grids.
                    </p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'assets/img/panels.png' %}" alt="Electric bus">
                <div class="card-content">
                    <h3>Policies in a time of transition</h3>
                    <p>
                        The focus of this analysis is on policies to accelerate the energy transition and to support equitable access to clean energy.
                    </p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'assets/img/started.jpg' %}" alt="Hydrogen molecule">
                <div class="card-content">
                    <h3>Green hydrogen</h3>
                    <p>
                        Hydrogen from renewables is key to achieving net zero emissions from heavy industry and transport, and these studies guide policy for its deployment.
                    </p>
                </div>
            </div>
        </div>
    </div><br>
</div>

<section class="footer-section">
    <div class="footer">
        <div class="essentials">
            <div>
                <ul>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="">Economic</a></li>
                    <li><a href="{% url 'project' %}">Project</a></li>
                    <li><a href="{% url 'event' %}">Event</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'membership' %}">Membership</a></li>
                    <li><a href="{% url 'inno' %}">Innovation</a></li>
                    <li><a href="{% url 'part' %}">Partnerships</a></li>
                    <li><a href="{% url 'outlook' %}">Outlook</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'event' %}">Technology</a></li>
                    <li><a href="{% url 'data' %}">Data</a></li>
                    <li><a href="{% url 'education' %}">Education</a></li>
                </ul>
            </div>
        </div>  

        <div class="social-links">
            <a href="https://www.itm-llc.uz/uz/home/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Google">
            </a>
            <a href="https://www.youtube.com/watch?v=JlDJVOnEM8o" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube">
            </a>
            <a href="https://t.me/ITMRasmiy" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="Telegram">
            </a>
        </div>

        <div class="copyright">
            <p>2025 ITM MCHJ</p>
        </div>
    </div>
</section>

<script src="{% static 'assets/js/policy.js' %}"></script>
</body>
</html>