<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRENA</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/pro.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
        </a>
    </div>

    <ul>
        <li>
            <a>ENERGY TRANSITION</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="#">OUTLOOK</a>
                        <a href="#">PLANNING</a>
                        <a href="#">POLICY</a>
                        <a href="#">TECHNOLOGY</a>
                        <a href="#">ECONOMIC IMPACT</a>
                        <a href="#">FINANCE INVESTMENT</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>ABOUT</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'about' %}">ABOUT</a>
                    <a href="{% url 'part' %}">PARTNERSHIPS</a>
                    <a href="{% url 'membership' %}">MEMBERSHIP</a>
                    <a href="{% url 'project' %}">PROJECT</a>
                    <a href="#">INNOVATION</a>
                </div>
            </div>
        </li>
        <li>    
            <a>LANGUAGES</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_part' 'uz' %}">UZBEK</a>
                    <a href="{% url 'lan_switch_part' 'en' %}">ENGLISH</a>
                    <a href="{% url 'lan_switch_part' 'tr' %}">TURKCHA</a>
                    <a href="{% url 'lan_switch_part' 'kk' %}">QOZOQCHA</a>
                    <a href="{% url 'lan_switch_part' 'tg' %}">TOJIKCHA</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'news' %}">NEWS</a></li>
        <li><a href="{% url 'education' %}">EDUCATION</a></li>
        <li><a href="{% url 'data' %}">DATA</a></li>
        <li><a href="{% url 'event' %}">EVENTS</a></li>
    </ul>
</header>

<div class="container">
    <div class="cards-wrapper">
        <div class="card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="Energy Transition Accelerator Financing Platform" />
            <h2>Energy Transition Accelerator Financing (ETAF) Platform</h2>
            <p>ETAF is an inclusive, multi-stakeholder climate finance platform.</p>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/started.jpg' %}" alt="Climate Investment Platform" />
            <h2>Climate Investment Platform (CIP)</h2>
            <p>A joint initiative with a mandate to increase capital mobilisation</p>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/panels.png' %}" alt="Renewable Potential Assessment" />
            <h2>Renewable potential assessment</h2>
            <p>The Renewable Potential Assessment aims to provide countries with the necessary data, online tools.</p>
        </div>
    </div>

    <div class="brochure-container">
        <div class="brochure-info">
            <div class="brochure-icon">
                <i class="fas fa-file-pdf"></i>
            </div>
            <div>
                <h3 class="brochure-title">Project Facilitation and Support Brochure</h3>
            </div>
        </div>
        <div class="actions">
            <button class="download-btn">
            <i class="fas fa-download"></i>
            Download
            </button>
            <div class="action-icon">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div><br>
</div>

<section class="footer-section">
    <div class="footer">
        <div class="essentials">
            <div>
                <h3>ITM essentials</h3>
                <ul>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="#">Employment</a></li>
                    <li><a href="#">Procurement</a></li>
                    <li><a href="{% url 'event' %}">Events</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'membership' %}">Membership</a></li>
                    <li><a href="#">Collaborative Frameworks</a></li>
                    <li><a href="{% url 'part' %}">Partnerships</a></li>
                    <li><a href="#">Country engagement</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'event' %}">Events</a></li>
                    <li><a href="{% url 'data' %}">Data</a></li>
                    <li><a href="{% url 'education' %}">Education</a></li>
                </ul>
            </div>
        </div>  

        <div class="social-links">
            <a href="https://www.itm-llc.uz/uz/home/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Google">
            </a>
            <a href="https://www.youtube.com/watch?v=JlDJVOnEM8o" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube">
            </a>
            <a href="https://t.me/ITMRasmiy" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="Telegram">
            </a>
        </div>

        <div class="copyright">
            <p>2025 ITM MCHJ</p>
        </div>
    </div>
</section>

<script src="{% static 'assets/js/pro.js' %}"></script>
</body>
</html>