<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRENA</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/techno.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
        </a>
    </div>

    <ul>
        <li>
            <a>ENERGY TRANSITION</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'outlook' %}">OUTLOOK</a>
                        <a href="{% url 'plan' %}">PLANNING</a>
                        <a href="{% url 'policy' %}">POLICY</a>
                        <a href="{% url 'techno' %}">TECHNOLOGY</a>
                        <a href="#">ECONOMIC IMPACT</a>
                        <a href="#">FINANCE INVESTMENT</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>ABOUT</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'about' %}">ABOUT</a>
                    <a href="{% url 'part' %}">PARTNERSHIPS</a>
                    <a href="{% url 'membership' %}">MEMBERSHIP</a>
                    <a href="{% url 'project' %}">PROJECT</a>
                    <a href="{% url 'inno' %}">INNOVATION</a>
                </div>
            </div>
        </li>
        <li>    
            <a>LANGUAGES</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch' 'uz' %}">UZBEK</a>
                    <a href="{% url 'lan_switch' 'en' %}">ENGLISH</a>
                    <a href="{% url 'lan_switch' 'tr' %}">TURKCHA</a>
                    <a href="{% url 'lan_switch' 'kk' %}">QOZOQCHA</a>
                    <a href="{% url 'lan_switch' 'tg' %}">TOJIKCHA</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'news' %}">NEWS</a></li>
        <li><a href="{% url 'education' %}">EDUCATION</a></li>
        <li><a href="{% url 'data' %}">DATA</a></li>
        <li><a href="{% url 'event' %}">EVENTS</a></li>
    </ul>
</header>

<div class="container"><br>
    <p>
      The rapid emergence of increasingly cost-effective renewable energy is allowing countries across the globe to switch away from carbon-emitting sources at pace. IRENA's data gathering and analysis of all the major renewables enables it to guide and advise its member countries on their conversion to low-carbon status.
    </p>

    <div class="cards-container">
        <div class="card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="Bioenergy & biofuels">
            <div class="card-content">
                <h3>Bioenergy & biofuels</h3>
                <p>
                    The sustainable supply of energy from biomass includes technologies for heat and power, and its transformation into upgraded energy carriers (e.g. advanced biofuels).
                </p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/maps.jpg' %}" alt="Geothermal energy">
            <div class="card-content">
                <h3>Geothermal energy</h3>
                <p>
                    Geothermal energy technologies for power generation and heat offer significant potential in a sustainable energy system.
                </p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/panels.png' %}" alt="Hydropower">
            <div class="card-content">
                <h3>Hydropower</h3>
                <p>
                    By far the largest renewable source today, hydroelectric technologies are longstanding enablers of the generation, management and storage of power.
                </p>
            </div>
        </div>
    </div>

    <div class="cards-container">
        <div class="card">
            <img src="{% static 'assets/img/out.png' %}" alt="Ocean energy">
            <div class="card-content">
                <h3>Ocean</h3>
                <p>
                    Ocean energy technologies and their application can support the achievement of a blue economy and SDG14 (conserve and sustainably use the oceans, seas and marine resources).
                </p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/maps.jpg' %}" alt="Solar energy">
            <div class="card-content">
                <h3>Solar energy</h3>
                <p>
                    Solar energy technologies offer vast potential in their application for the provision of power, heating and cooling, both on-grid and off-grid.
                </p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="Wind energy">
            <div class="card-content">
                <h3>Wind energy</h3>
                <p>
                    Onshore and offshore wind technologies use turbine technology to harness the energy of the wind for the provision of power.
                </p>
            </div>
        </div>
    </div><br>
</div>

<section class="footer-section">
    <div class="footer">
        <div class="essentials">
            <div>
                <ul>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="">Economic</a></li>
                    <li><a href="{% url 'project' %}">Project</a></li>
                    <li><a href="{% url 'event' %}">Event</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'membership' %}">Membership</a></li>
                    <li><a href="{% url 'inno' %}">Innovation</a></li>
                    <li><a href="{% url 'part' %}">Partnerships</a></li>
                    <li><a href="{% url 'outlook' %}">Outlook</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'event' %}">Technology</a></li>
                    <li><a href="{% url 'data' %}">Data</a></li>
                    <li><a href="{% url 'education' %}">Education</a></li>
                </ul>
            </div>
        </div>  

        <div class="social-links">
            <a href="https://www.itm-llc.uz/uz/home/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Google">
            </a>
            <a href="https://www.youtube.com/watch?v=JlDJVOnEM8o" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube">
            </a>
            <a href="https://t.me/ITMRasmiy" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="Telegram">
            </a>
        </div>

        <div class="copyright">
            <p>2025 ITM MCHJ</p>
        </div>
    </div>
</section>

<script src="{% static 'assets/js/techno.js' %}"></script>
</body>
</html>